/movie/trailer
.idea/*
/.idea/*
.idea/
/.idea/
*.idea
*.xml
movie/full/Avengers.Age.of.Ultron.2015.1080p.BluRay.H264.AAC_PapaFatHead.mkv
movie/full/Monkey Twins (2016).MP4
movie/full/Rambo.III.1988.1080p.BluRay.x264-[YTS.AG].mp4
movie/full/xXx.Return.of.Xander.Cage.2017.1080p.HC.HDRip.X264.AC3-EVO-001[EtHD].mkv
movie/full/Rambo.III.1988.1080p.BluRay.x264-[YTS.AG].mp4
movie/full/xXx.Return.of.Xander.Cage.2017.1080p.HC.HDRip.X264.AC3-EVO-001[EtHD].mkv
movie/full/Rambo.III.1988.1080p.BluRay.x264-[YTS.AG].mp4
*.mp4
*.mkv
.idea/dataSources.local.xml
*.xml
